<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>402</title>
</head>
<body>
    <h1>402 Payment Required</h1>
    <a  href="/index">Главная</a>
</body>
<style>
    h1{
        position: absolute;
    top: 10%;
    left: 40%;
    width: 40%;
    height: 40%;
    }
    a{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 40%;
    height: 40%;
    text-decoration: none;
  }
</style>
</html>