<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>404 Page Not Found</title>
</head>
<body>
    <div class="error-container"> 
        <lottie-player src="{{ url_for('static', filename='er404.json') }}"
        background="transparent" speed="1" 
        style="width: 400px; height: 400px; margin: auto;"
        loop autoplay> 
    </lottie-player>
    <a  href="/index">Главная</a>
    </div>
</body>
<style>
    a{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 40%;
    height: 40%;
    text-decoration: none;
  }
</style>
</html>